<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Campus Proxy Lite</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

    <h1>🌐 Campus Proxy Lite</h1>

    <p style="text-align:center;">
        Educational Forward Proxy Simulator
    </p>

    <form action="/proxy" method="POST">

        <input
            type="text"
            name="url"
            placeholder="Enter URL (https://example.com)"
            required
        >

        <button type="submit">
            Visit Site
        </button>

    </form>

</div>
</body>

</html>